<h1>Hello, Rails!</h1>
<%= link_to "My Blog", controller: "posts" %>
<p>The time is now <%= Time.now %></p>

<h3>Send me an email:</h3>

<form action="MAILTO:dlkarpay@gmail.com" method="post" encype="text/plain">Name:<br>
	<input type="text" name="name"><br>
	E-mail:<br>
	<input type="text" name="mail"><br>
	Comment:<br>
	<input type="text" name="comment" size="50"><br><br><input type="submit" value="Send">
	<input type="reset" value="Reset">
</form>