<h2>Hello World</h2>
<p>The time is now: <%= Time.now %><br>
<div id="rename"><p>If you want to change my name,</p><br><p>run this command:</p><br>
	<p style="font-family:Courier">$ heroku apps:rename newname</p><br>
	<p style="font-family:Courier">You\'ll then see:</p><br>
	<p style="font-family:Courier">http://newname.heroku.com/ | git@heroku.com:newname.git</p><br>
	<p style="font-family:Courier">Git remote heroku updated</p>